#day9 {
  background: center url("../images/origin/9.JPG");
}
#day8 {
  background: center url("../images/origin/8.JPG");
}
#day7 {
  background: center url("../images/origin/7.JPG");
}
#day6 {
  background: center url("../images/origin/6.JPG");
}
#day5 {
  background: center url("../images/origin/5.JPG");
}
#day4 {
  background: center url("../images/origin/4.JPG");
}
#day3 {
  background: center url("../images/origin/3.JPG");
}
#day2 {
  background: center url("../images/origin/2.JPG");
}
#day1 {
  background: center url("../images/origin/1.JPG");
}
