#day9 {
  background: center url("../images/big/9.jpg");
}
#day8 {
  background: center url("../images/big/8.jpg");
}
#day7 {
  background: center url("../images/big/7.jpg");
}
#day6 {
  background: center url("../images/big/6.jpg");
}
#day5 {
  background: center url("../images/big/5.jpg");
}
#day4 {
  background: center url("../images/big/4.jpg");
}
#day3 {
  background: center url("../images/big/3.jpg");
}
#day2 {
  background: center url("../images/big/2.jpg");
}
#day1 {
  background: center url("../images/big/1.jpg");
}
